@model ARSAN_Web.Models.Multa

@{
    ViewData["Title"] = "Eliminar Multa";
}

<h1>Eliminar Multa</h1>

<h3>¿Está seguro que desea eliminar esta multa?</h3>
<div>
    <h4>Multa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">ID Residencia</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.IdResidencia)</dd>

        <dt class="col-sm-3">Cluster</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Residencia.Cluster.Nombre)</dd>

        <dt class="col-sm-3">Número de Casa</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Residencia.Numero)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Concepto)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Concepto)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Monto)</dt>
        <dd class="col-sm-9">Q @Html.DisplayFor(model => model.Monto)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Fecha)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Fecha)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Pagada)</dt>
        <dd class="col-sm-9">@(Model.Pagada ? "Sí" : "No")</dd>

        <dt class="col-sm-3">Tipo de Multa</dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.TipoMulta.Nombre)
            (@Html.DisplayFor(model => model.TipoMulta.Codigo))
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdMulta" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>