@model ARSAN_Web.Models.Vehiculo

@{
    ViewData["Title"] = "Detalles del Vehículo";
}

<h1>Detalles del Vehículo</h1>

<div>
    <h4>Información del Vehículo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Cluster</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Residencia.Cluster.Nombre)</dd>

        <dt class="col-sm-3">Residencia</dt>
        <dd class="col-sm-9">Residencia @Html.DisplayFor(model => model.Residencia.Numero)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Marca)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Marca)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Linea)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Linea)</dd>

        <dt class="col-sm-3">Año</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Anio)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Color)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Color)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Placa)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Placa)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.NumeroTarjeta)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.NumeroTarjeta)</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVehiculo" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
</div>