@model ARSAN_Web.Models.AccesoVehicular

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AccesoVehicular</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAcceso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAcceso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vehiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vehiculo.NumeroTarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visitante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visitante.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garita.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuardiaIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuardiaIngreso.Dpi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuardiaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuardiaSalida.Dpi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdAcceso">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
