@model ARSAN_Web.Models.Garita

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Garita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cluster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cluster.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdGarita">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
