@model ARSAN_Web.Models.JuntaDirectiva

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JuntaDirectiva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnioInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnioInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnioFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnioFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cluster)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cluster.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdJuntaDirectiva">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
